openapi: "3.0.0"
info:
  version: 3.0.0
  title: "Gestão de rotas"
servers:
- url: "http://working-pmove.planmob.com.br/api/v1/rest"
paths:
  /route:
    get:
      summary: "Listar todas as rotas"
      operationId: "listRoute"
      tags:
      - "Route"
      responses:
        '200':
          description: "Exemplo de modelo"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/Route"
            'application/xml':
              schema:
                $ref: "#/components/schemas/Route"
        default:
          description: "Unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: "Criar nova rota"
      operationId: "createRoute"
      tags:
      - "Route"
      requestBody:
        description: "Modelo payload"
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Route'
          'application/xml':
            schema:
              $ref: '#/components/schemas/Route'
      responses:
        '200':
          description: "Null response"
        default:
          description: "Unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Route:
      required:
      - "company"
      - "group"
      - "qrcode"
      - "name"
      - "status"
      - "dateDue"
      - "dateInsert"
      - "userInsert"
      - "dateUpdate"
      - "userUpdate"
      properties:
        company:
          type: "string"
        group:
          type: "string"
        contract:
          type: "string"
        planning:
          type: "string"
        planningChild:
          type: "string"
        attendant:
          type: "array"
          items:
            type: "string"
        related:
          type: "array"
          items:
            type: "string"
        relatedAlias:
          type: "string"
        reference:
          type: "string"
        description:
          type: "string"
        qrcode:
          type: "string"
        name:
          type: "string"
        status:
          type: "string"
        order:
          type: "number"
        vip:
          type: "boolean"
          default: false
        dateDisplacement:
          type: "string"
          format: "date-time"
        dateStart:
          type: "string"
          format: "date-time"
        dateEnd:
          type: "string"
          format: "date-time"
        dateSchedule:
          type: "string"
          format: "date-time"
        dateDue:
          type: "string"
          format: "date-time"
        dateInsert:
          type: "string"
          format: "date-time"
        userInsert:
          type: "string"
        dateUpdate:
          type: "string"
          format: "date-time"
        userUpdate:
          type: "string"
        sync:
          type: "boolean"
          default: false
        sla:
          type: "object"
          required:
          - "text"
          - "value"
          properties:
            text:
              type: "string"
            value:
              type: "number"
        time:
          type: "object"
          properties:
            text:
              type: "string"
            value:
              type: "number"
        product:
          type: "array"
          items:
            $ref: "#/components/schemas/Product"
        contact:
          type: "array"
          items:
            $ref: "#/components/schemas/Contact"
        parts:
          type: "array"
          items:
            $ref: "#/components/schemas/Parts"
        app:
          $ref: "#/components/schemas/App"
        signature:
          type: "object"
          properties:
            data:
              type: "array"
              items:
                type: "object"
                properties:
                  name:
                    type: "string"
                  value:
                    type: "string"
            image:
              type: "string"
        fenceOption:
          type: "object"
          properties:
            minimum:
              type: "number"
            maximum:
              type: "number"
        addressComponent:
          properties:
            address:
              type: "string"
            complement:
              type: "string"
            latitude:
              type: "string"
            longitude:
              type: "string"
        schedule:
          $ref: "#/components/schemas/Schedule"
        router:
          type: "object"
          properties:
            dateStart:
              type: "string"
              format: "date-time"
            dateEnd:
              type: "string"
              format: "date-time"
            km:
              type: "number"
        surveyAnswer:
          type: "array"
          items:
            type: "object"
            properties:
              survey:
                type: "array"
                items:
                  type: "object"
              answer:
                type: "object"
              status:
                type: "string"
        information:
          type: "array"
          items:
            $ref: "#/components/schemas/Information"
        logs:
          type: "array"
          items:
            $ref: "#/components/schemas/Logs"
    Product:
      type: "object"
      properties:
        qrcode:
          type: "string"
        name:
          type: "array"
          items:
            type: "string"
        custom:
          type: "array"
          items:
            type: "object"
            properties:
              label:
                type: "string"
              value:
                type: "string"
              type:
                type: "string"
    Contact:
      type: "object"
      properties:
        name:
          type: "string"
        email:
          type: "array"
          items:
            type: "string"
        phone:
          type: "array"
          items:
            type: "string"
        custom:
          type: "array"
          items:
            type: "object"
            properties:
              label:
                type: "string"
              value:
                type: "string"
              type:
                type: "string"
    Parts:
      type: "object"
      properties:
        qrcode:
          type: "string"
        name:
          type: "string"
        description:
          type: "string"
        price:
          type: "number"
          format: "float"
        quantity:
          type: "number"
    App:
      type: "object"
      properties:
        displacement:
          type: "boolean"
          default: false
        send:
          type: "boolean"
          default: false
        receive:
          type: "boolean"
          default: false
        packageUnregistered:
          type: "boolean"
          default: true
        signature:
          type: "object"
          properties:
            enabled:
              type: "boolean"
              default: false
            requiredFields:
              type: "array"
              enum:
              - "Nome"
              - "E-mail"
              - "RG"
              - "CPF"
              - "Telefone"
              - "Matrícula"
              - "Avaliação"
              items:
                type: "string"
    Schedule:
      type: "object"
      properties:
        type:
          type: "string"
        start:
          type: "object"
          properties:
            text:
              type: "string"
            value:
              type: "number"
        end:
          type: "object"
          properties:
            text:
              type: "string"
            value:
              type: "number"
    Information:
      type: "object"
      properties:
        label:
          type: "string"
        value:
          type: "string"
        type:
          type: "string"
    Logs:
      type: "object"
      required:
      - "group"
      - "status"
      - "dateReal"
      - "dateInsert"
      - "userInsert"
      properties:
        group:
          type: "string"
        planning:
          type: "string"
        contract:
          type: "string"
        status:
          type: "string"
        reason:
          type: "string"
        latitude:
          type: "string"
        longitude:
          type: "string"
        accuracy:
          type: "number"
        fence:
          type: "number"
        distanceFromPrevious:
          type: "number"
        timeFromPrevious:
          type: "number"
        dateReal:
          type: "string"
          format: "date-time"
        dateInsert:
          type: "string"
          format: "date-time"
        userInsert:
          type: "string"
    Package:
      type: "array"
      items:
        $ref: "./package.yml"
    Error:
      required:
      - "code"
      - "message"
      properties:
        code:
          type: "number"
          format: "int32"
        message:
          type: "string"
